@import '../assets/fonts/fonts.css';

body {
    margin: 0;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #090508, #151116);
    background-size: cover;
    font-size: 1.0vw;
    font-style: normal;
    font-weight: 300;
  }
  
  code {
    font-family: poppins;
    font-style: Regular;
  }
  